<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503641716543-gof3ejf192n396pppcugsolqg9v5v9f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503641716543-gof3ejf192n396pppcugsolqg9v5v9f2</string>
	<key>API_KEY</key>
	<string>AIzaSyDe_ZLa1f4JpLMj6bfq3t1OAE7XwiIHPWA</string>
	<key>GCM_SENDER_ID</key>
	<string>503641716543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>team.loginscreen</string>
	<key>PROJECT_ID</key>
	<string>fastrak-114b7</string>
	<key>STORAGE_BUCKET</key>
	<string>fastrak-114b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503641716543:ios:8d6c2f19c4efa73d3ac58a</string>
</dict>
</plist>